<h1>Create a new Pet</h1>
<form method="POST" action="/pets">
  <label>Pet Name:</label>
  <br>
  <input type="text" id="pet[name]" name="pet[name]">
  <br><br>
  
 <p>Select an existing pet or create a new one below.</p>
 
 
</form>
